:root	{
    --botao-desligado: #003505;
    --botao-ligado: #00740C;
    --login-desligado: #D9D9D9;
    --login-ligado: #9b9999;
    --font-principal: "Luckiest Guy", cursive;
    --fonte-secundaria: "Crimson Text", serif;
 }
 
 body{
    margin: 0;
    padding: 0;
 }

.cabecalho{
    background-color: #000000ad;
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    height: 104px;
    
}
.cabecalho_logo {
    align-items: center;
}

.logo{
    width: 90px;
    margin-top: 5px;
}

.cabecalho_escrito{
    color: rgb(255, 255, 255);
    font-family: "Luckiest Guy", cursive;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-size: 25px;
    border: solid;
    border-color: #000000;
    border-radius: 20px;
    border-width: 3px;
    background-color: var(--botao-desligado);
    padding: 10px 45px;
}

.cabecalho_link{
    text-decoration: none;
}

.cabecalho_login {
    font-family: "Actor", sans-serif;
    font-size: 17px;
    color: rgb(0, 0, 0);
    border: solid;
    border-radius: 15px;
    border-width: 3px;
    padding: 10px 20px;
    margin-top: 23px;
    background-color: var(--login-desligado);
}

.fundo {
    width: auto;
    background-image: url(/img/produtos_fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.205);
}

.cabecalho_escrito:hover {
    background-color: var(--botao-ligado);
}

.cabecalho_login:hover {
    background-color: var(--login-ligado);
}

.botao_voltar{
    display: flex;
    flex-direction: row;
    padding: 30px 1400px;
    text-align: center;
}

.botao_voltar_aparencia {
    border: solid;
    border-color: #000000;
    background-color: var(--botao-desligado);
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    font-family: var(--font-principal);
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.botao_voltar_aparencia:hover {
    background-color: var(--botao-ligado);
}


.produto{
    display: flex;
    flex-direction: row;
    background-color: #0000009c;
    margin: 0px 150px;
    padding: 100px;
    height:auto;
    border-radius: 50px;
    margin-top: 50px;
}

.produto_img{
    width: 250px;
    height: 187px;
}

.produtos_dados{
    margin-left: 90px;
}

.principal {
    font-family: var(--font-principal);
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 30px;
}

.secundario {
    font-family: var(--fonte-secundaria);
    color: white;
    font-size: 30px;
    padding-left: 20px;
}